* {
  /* overflow: hidden; */
}

.home-section {
  background-image: url("../images/bgimg.png");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.cow-section {
  width: 100%;
}

.div-cow {
}



@keyframes moveCow {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}
.exp-1174 {
  max-width: 1174px;
  min-width: 250px;
  width: 100%;
}
.experience {
  max-width: 1177px;
  min-width: 250px;
  margin: 0 auto;
  width: 100%;
}

.experice-magic {
  max-width: 749px;
  min-width: 250px;
  /* margin: 0 auto; */
}

.cow-flex {
  display: flex;
  padding: 50px 0;
}

.experice-p {
  max-width: 639px;
  min-width: 250px;
}

.experice-flex {
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: space-around;
}

.experice-p p {
  font-size: 50px;
  line-height: 54.4px;
  color: #512c20;
  font-weight: 400;
  text-align: left;
  font-family: Bakilda Histori;
}

.experince-p2 {
}

.experince-p2 p {
  font-size: 18px;
  font-weight: 400;
  color: #512c20;
  line-height: 25px;
  font-family: Roboto-Regular;
  text-align: left;
  padding: 20px 0;
  text-wrap: wrap;
}

.experice-magic {
}

.ghee img {
  max-width: 279px;
  min-width: 150px;
  width: 100%;
  text-align: end;
}

.banner-h {
  line-height: 70.85px;
}

.banner-p {
  line-height: 25px;
}
.cow-display {
  max-width: 290px;
  min-width: 290px;
  width: 100%;
  
  /* padding: 118px 0; */
}
.home img {
  width: 100%;
  position: relative;
  bottom: 2px;
}

.home {
}

.ghee img {
  animation: upDown 4s ease-in-out infinite;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.2);
  }
}

.zoom-animation {
  /* animation: zoomInOut 2s ease-in-out forwards; */
}

@media screen and (max-width: 1024px) {
  .experice-flex {
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .cow-display {
    display: none;
  }
  .experice-p p {
    text-align: center;
  }
  .experice-flex {
    flex-wrap: wrap;
  }
  .experince-p2 p {
    text-align: center;
  }

  .ghee {
    max-width: 280px;
    min-width: 100px;
    width: 100%;
    text-align: center;
    padding: 37px 0;
    animation: none;
  }
  .experice-p {
    animation: none;
  }
  .zoom-animation {
    animation: none;
  }
}

@media screen and (max-width: 767px) {
  .experice-p p {
    font-size: 20px;
    line-height: 21.8px;
  }
  .ghee img {
    width: 132px;
  }
  .experice-p p {
    font-size: 16px;
    line-height: 20px;
  }
  .home {
    /* margin: -4px; */
  }
}
