.products{
    max-width: 100%;
}
.product{
    text-align: center;
    color: #512C20;
    margin: 20px 0;
    font-family: Bakilda-Histori;
}
.product-bilona{
    /* max-width: 1320px; */
    /* min-width: 250px; */
    /* position: relative; */
    /* transition: background-image 0.3s ease; */
    /* border: 1px solid black; */
}
.gried-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 172px;
    row-gap: 50px;
}
.gried-head{
    max-width: 1320px;
    min-width: 250px;
    margin: 0 auto;
}
.product-width:hover {
    background-image: url("../images/card.png");
    background-size: cover;
    border: none;
    border-radius: 9px;
}
.product-width{
    /* max-width: 325px; */
    min-width: 250px;
    height: 425px;
    border: 1px solid #512C2080;
    display: flex;
    position: relative;
border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.product-wid{
    /* text-align: end; */
    margin-bottom: 20px;
    top: 0;
    right: 0;
    margin: 10px;
    position: absolute;
}
.bottol-main{
    width: 174px;
    /* border: 1px solid black; */
    text-align: center;
}
.bilona-ghee{
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-align:center ;
    padding: 10px 0;
}
.product-flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    /* justify-content: space-evenly; */
}

.secound-row{
    padding: 50px 0;
}
@media screen and (max-width:1024px){
    .gried-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 68px;
        padding: 0 20px;
        row-gap: 43px;
    }
}

@media screen and (max-width:767px){
    .gried-container{
        grid-template-columns: repeat(1, 1fr);

    }
}